@use "../../styles/mixins.module" as mixins

.CategorySubsection
    @include mixins.flex($dir: column, $ai: flex-start)
    margin: 1% 1% 5%
    .Header
        font-size: 3rem
        margin: 0 auto
    .breakLine
        background-color: #fff
        margin-top: 5%
        height: 1px
        width: 100%
