@use "../styles/variables.module" as globals
@use "../styles/mixins.module" as mixins

.LandingPage
    @include mixins.flex()
    @include mixins.fullWidthHeight()
    flex-direction: column
    .Logo
        margin: 13px 0
    .Intro
        font-size: 5rem
        margin-top: 3rem
        z-index: 0
    .HomePageButton
        font-size: 1.5rem
        width: 150px
        text-align: center
        border-radius: 6px
        margin: 3rem 0
        padding: 1rem
        border: solid 1px
        transition-duration: 1s
        z-index: 0
    
    .HomePageButton:hover 
        background-color: black
        color: grey
        transition-duration: 1s