@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html,
body {
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    font-family: -apple-system, "Poiret One";
=======
    font-family: -apple-system, "Old Standard TT";
    color: white;
>>>>>>> landingPage
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
