@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "Satisfy", cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
