@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    min-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "Poiret One";
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
