@mixin flex($direction: column, $justify-content: center, $align-items: center)
    display: flex
    flex-direction: $direction
    justify-content: $justify-content
    align-items: $align-items

@mixin fullWidthHeight($vw: 100vw, $vh: 100vh)
    width: $vw
    height: $vh
