@mixin flex($dir: column, $jc: center, $ai: center)
    display: flex
    flex-direction: $dir
    justify-content: $jc
    align-items: $ai

@mixin fullWidthHeight($vw: 100vw, $vh: 100vh)
    width: $vw
    min-height: $vh

@mixin drinkAlternating($flt)
    float: $flt
    width: 800px
    margin-top: 6%
    text-align: center
    font-size: 2em

@mixin blurBrowserCrossComp($blur)
    backdrop-filter: blur($blur)
    -webkit-backdrop-filter: blur($blur)
    -o-filter: blur($blur)
    -ms-filter: blur($blur)
