
.bgWrap
    position: fixed
    height: 100vh
    width: 100vw
    overflow: hidden
    z-index: -1

.bgText
    color: white
    margin: 0
    font-size: 4rem
    line-height: 5rem
    text-align: center
    padding-top: 40vh

.Logo
    position: fixed
    top: 3%
    left: 46vw
